@font-face {
    font-family: 'bellotaregular';
    src: url('../Bellota-Regular-webfont.eot');
    src: url('../Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Bellota-Regular-webfont.woff') format('woff'),
         url('../Bellota-Regular-webfont.ttf') format('truetype'),
         url('../Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
  font-family: 'bellotaregular';
  width:90%;
  margin:auto;
  
  background-color: #f2f2f2;

}

form {
  background-color: #FFFFFF;
  display: inline-block;
  background-image: url("hackers-poulette-logo.png");
  position: relative;
  width: 100%;



}

header {
  background-color: #15C5BD;
}

h1 {
  padding-top: 40px;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  padding-bottom: 50px;
  padding-left: 40px;
  color:#FFF;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:;
}


fieldset{
  display:inline-block;


}


.info {
  width:90%;
  width:12%;
  display: inline;
  border: 0px solid black;
  vertical-align: top;
  margin-left: 50px;
 

}


.message {
  margin-top: 0px;
  display:inline;
  border: 0px solid black;
  vertical-align: top;
}

.nom {
  padding-top: 5px;
  padding-bottom: 5px;
}


.email {
  padding-top: 60px;
  padding-bottom: 10px;
}

button {
  display:block;
  float:right;
  margin-right: 33%;
  width: 100px;
  height: 80px;
  
}

input {
  float:flex;
}


footer {

   background-color: #15C5BD;
   width: 100%;
   height: 60px;
}


.message {
  display: inline;
}

.message-box {
  display: inline;

  
}
input {
  border:0px ;
  border-bottom: 2px solid black;

}
.button {
  background:white;
  border-radius: 1px;
  border:0px;
  margin-top: 2%;
  height: 30px;
  
}

#hacker-p {
  display:inline;
  
}

#hacker-p img {
  width: 300px;
  height:250px;
  left: 670px;
  top: 165px;
  position: absolute;
}

#text-message {
  width: 500px;
  border: solid dashed 1px;
  font-size: 16px;
  margin-top: 20px;

}